body{
  font-family: Arial, Helvetica, sans-serif;

}

.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns:200px 150px 100px ;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
}

.todo-input-grid{
  margin-bottom: 1rem;
  align-items: stretch;
}

.name-input,
.due-date-input{
  font-size: 1rem;
  padding: 0.5rem;
}

.add-todo-button{
  background-color: green;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.delete-todo-button{
  color: white;
  background-color:darkred;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding-top:10px ;
  padding-bottom: 10px;
}